.main-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.current-weather{
    width: 64px;
    height: 64px;
}

.img-main{
    width: 28px;
    height: 28px;
}

.weather-icon{
    width: 50px;
    height: 50px;
}

.secondary-weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px){
    .secondary-weather{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-block{
        display: grid;
        grid-template-columns: 1fr;

    }
}