body{
    margin: 1.25% 4% 1.25% 4%;
    font-family: "Times New Roman";
}

ul{
    padding: 0;
}

li{
    padding: 7px 5px 5px 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 18px;
}

h1{
    margin: 10px 0 10px 0;
    font-size: 36px;
    font-weight: 600;
}

h2{
    margin: 23px 0 23px 0;
    font-size: 36px;
    font-weight: 600;
}

h4{
    margin: 0;
    font-size: 31px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.wind-and-stuff {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.line-for-city-display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-city{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.secondary-temperature{
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button-display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button {
    padding: 0;
    width: 190px;
    height: 45px;
}

.main-temperature{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 600;
}


.main-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    font-family: sans-serif;
}

.devide-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-weather{
    width: 110px;
    height: 110px;
}

.img-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
}

.secondary-icon-display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon{
    width: 50px;
    height: 50px;
}

.secondary-weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 23px;
    grid-column-gap: 80px;
    font-family: sans-serif;
}

.secondary-city {
    display: grid;
    grid-template-rows: 18% 82%;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
}

.name-of-secondary-block{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.divide-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.between-main-secondary{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.exit-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 600px){
    .secondary-weather{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-block{
        display: grid;
        grid-template-columns: 1fr;

    }
}